/* Logo */

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo__main--black {
    color: var(--logo-color);
    margin-left: -5px;
}

.logo__main--white {
    color: var(--main-light-color);
    margin-left: -5px;
}